<h1>Student Detail,s</h1>
<div>
  First Name : <%= @student.first_name %>
</div>
<hr>
<div>
  Last Name : <%= @student.last_name %>
</div>
<hr>
<div>
  Email : <%= @student.email %>
</div>
<hr>
<div>
  Contact : <%= @student.contact %>
</div>
<hr>
<div>
  Address : <%= @student.address %>
</div>
<hr>
<div>
  Gender : <%= @student.gender %>
</div>
<hr>
<%= link_to 'Back', students_path %>